* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background: #111111;
  height: 70px;
  .header-wrap {
    display: flex;
    height: 100%;
    align-items: center;
    max-width: 1160px;
    margin: auto;
    .logo {
      margin-left: 1rem;
    }
  }
}

.learn-more {
  font-size: 12px;
  color: #9e9fa4;
  margin: 24px 10px;
  text-align: center;
  a {
    color: #9e9fa4;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: black;
    }
  }
}

main {
  margin-bottom: 8rem;
  .generator {
    background: #111111;
    color: white;
    max-width: 1160px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 40px;
      padding-top: 56px;
    }
    p {
      font-size: 16px;
      margin-top: 8px;
      line-height: 24px;
    }
    .input-wrap {
      margin-top: 24px;
      width: 694px;
      height: 50px;
      display: flex;
      justify-content: center;
      margin-bottom: 24px;
      input {
        height: 100%;
        width: 100%;
        border: none;
        padding: 0rem 3rem;
        font-size: 20px;
        font-weight: 700;
        &:focus {
          outline: none;
        }
      }
      button {
        background: white;
        border: none;
        cursor: pointer;
        img {
          padding-right: 2rem;
        }
      }
      .copy-pass {
        background: #09a858;
        color: white;
        font-weight: 700;
        font-size: 16px;
        min-width: 20rem;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #078b49;
        }
      }
    }
    .checkbox-wrap {
      display: flex;
      margin-bottom: 37px;
      align-items: center;
      text-align: left;
      div {
        display: flex;
      }
      input {
        cursor: pointer;
      }
      label {
        font-size: 12px;
        margin-left: 1rem;
        margin-right: 5rem;
        cursor: pointer;
      }
    }
  }
  .content {
    max-width: 953px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 9rem;
    img {
      object-fit: scale-down;
    }
    .text {
      h2 {
        font-size: 31px;
      }
      p {
        max-width: 560px;
        font-size: 16px;
        color: #7a7a7a;
        margin-top: 1.6rem;
        line-height: 26px;
      }
    }
  }
}

@media screen and (max-width: 1195px) {
  main {
    .generator {
      max-width: 100%;
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  main {
    .content {
      width: auto;
      max-width: 100%;
      margin: 7rem 1.5rem;
      img {
        margin: 0rem 3rem;
      }
      .text {
        p {
          max-width: none;
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  main {
    .generator {
      .input-wrap {
        width: 92%;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  main {
    .generator {
      h1 {
        font-size: 30px;
        margin-left: 2rem;
        margin-right: 2rem;
      }
      p {
        font-size: 12px;
        margin-left: 2rem;
        margin-right: 2rem;
      }
      .input-wrap {
        input {
          font-size: 16px;
        }
        .copy-pass {
          min-width: 14rem;
          font-size: 14px;
        }
      }
      .checkbox-wrap {
        margin: 0rem 2rem 37px 2rem;
        label {
          margin-right: 2rem;
        }
      }
    }
    .content {
      flex-direction: column;
      img {
        height: 20rem;
      }
      .text {
        h2 {
          font-size: 22px;
        }
      }
    }
    .par1 {
      flex-direction: column-reverse;
    }
  }
}

@media screen and (max-width: 420px) {
  main {
    .generator {
      text-align: left;
      h1 {
        padding-top: 30px;
      }

      p {
        align-self: flex-start;
      }
      .input-wrap {
        width: 88%;
        flex-direction: column;
        height: auto;
        input,
        button {
          margin-bottom: 1rem;
          height: 4rem;
        }
        #reload-btn {
          background: #111111;
          border: solid 1px white;
        }
      }
      .checkbox-wrap {
        flex-direction: column;
        align-items: flex-start;
        width: 88%;
        margin-bottom: 1rem;
        div {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
